################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FetchToDoListFuncTest/bin/Debug/net6.0
/FetchToDoListFuncTest/obj
